In [177]:
import pandas as pd
from numpy import dot
from numpy.linalg import norm
import numpy as np

data = pandas.read_csv('movie.csv', index_col=0)
data

     winter  superman  taxt  rambo
id
hy      3.0         2     4      5
hih     2.5         3     4      4
nbe     3.5         2     3      4
ahs     4.0         2     2      4
yhd     3.0         4     4      5

In [178]:
data.shape

(5, 4)

In [179]:
type(data)

pandas.core.frame.DataFrame

In [180]:
def cos(A, B):
    return dot(A, B)/(norm(A)*norm(B))                         # 코사인 유사도 수식

In [181]:
hy=np.array([3.0,2,4,5])
hih=np.array([2.5,3,4,4])
nbe=np.array([3.5,2,3,4])
ahs=np.array([4.0,2,2,4])
yhd=np.array([3.0,4,4,5])

In [182]:
#허용
print(cos(hy, hih)) #허용과 허인행의 코사인 유사도
print(cos(hy, nbe)) #허용과 남보은의 코사인 유사도
print(cos(hy, ahs)) #허용과 안한성의 코사인 유사도
print(cos(hy, yhd)) #허용과 양희동의 코사인 유사도

0.9799578870122228
0.9852446755537786
0.9467292624062573
0.9715365547505717

In [183]:
#허인행
print(cos(hih, hy)) #허인행과 허용의 코사인 유사도
print(cos(hih, nbe)) #허인행과 남보은의 코사인 유사도
print(cos(hih, ahs)) #허인행과 안한성의 코사인 유사도
print(cos(hih, yhd)) #허인행과 양희동의 코사인 유사도

0.9799578870122228
0.9683296637314884
0.9200874124564722
0.9938483222979689

In [184]:
#남보은
print(cos(nbe, hy)) #남보은과 허용의 코사인 유사도
print(cos(nbe, hih)) #남보은과 허인행의 코사인 유사도
print(cos(nbe, ahs)) #남보은과 안한성의 코사인 유사도
print(cos(nbe, yhd)) #남보은과 양희동의 코사인 유사도

0.9852446755537786
0.9683296637314884
0.9847319278346618
0.9678486172030493

In [185]:
#안한성
print(cos(ahs, hy)) #안한성과 허용의 코사인 유사도
print(cos(ahs, hih)) #안한성과 허인행의 코사인 유사도
print(cos(ahs, nbe)) #안한성과 남보은 코사인 유사도
print(cos(ahs, yhd)) #안한성과 양희동의 코사인 유사도

0.9467292624062573
0.9200874124564722
0.9847319278346618
0.9341987329938274

In [186]:
#양희동
print(cos(yhd, hy)) #양희동과 허용의 코사인 유사도
print(cos(yhd, hih)) #양희동과 허인행의 코사인 유사도
print(cos(yhd, nbe)) #양희동과 남보은 코사인 유사도
print(cos(yhd, ahs)) #양희동과 안한성의 코사인 유사도

0.9715365547505717
0.9938483222979689
0.9678486172030493
0.9341987329938274